In [1]:
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, Column, Integer, String, Float
import datetime as dt
import pandas as pd
from config import db_pw

# First Glance: CSVs-to-DataFrame
---
### Table 1: 2016 Presidential Campaign Donor Data

In [2]:
donor_df = pd.read_csv('data/Donor_Data_wip.csv').dropna(axis=1, how='all')

In [3]:
donor_df.head()

        cand_nm contbr_st  contb_receipt_amt contb_receipt_dt
0  Rubio, Marco        20              175.0        15-Mar-16
1  Rubio, Marco        30               25.0        16-Mar-16
2  Rubio, Marco        AE              100.0        20-Feb-16
3  Rubio, Marco        AE              200.0        10-Mar-16
4  Rubio, Marco        AE              100.0         8-Mar-16

In [4]:
records_num = len(donor_df['cand_nm'])
cand_num = len(list(donor_df['cand_nm'].unique()))
state_num = len(list(donor_df['contbr_st'].unique()))
cands = list(donor_df['cand_nm'].unique())

print(f"""
    Number of Records: {records_num}
    Number of Candidates: {cand_num}
    Number of States: {state_num}
    Candidates: {cands}
    """)

    Number of Records: 1048563
    Number of Candidates: 8
    Number of States: 85
    Candidates: ['Rubio, Marco', 'Santorum, Richard J.', 'Perry, James R. (Rick)', 'Carson, Benjamin S.', "Cruz, Rafael Edward 'Ted'", nan, 'Paul, Rand', 'Clinton, Hillary Rodham']

### Table 2: 2016 Presidential Election Results

In [5]:
csv_file = "data/raw/election.csv" 
election_df = pd.read_csv(csv_file) 
election_df.head()

,Unnamed: 0,combined_fips,votes_dem_2016,votes_gop_2016,total_votes_2016,per_dem_2016,per_gop_2016,diff_2016,per_point_diff_2016,state_abbr,...,FIPS,total_votes_2012,votes_dem_2012,votes_gop_2012,county_fips,state_fips,per_dem_2012,per_gop_2012,diff_2012,per_point_diff_2012
0,0,2013,93003,130413,246588,0.377159,0.52887,37410,-0.151711,AK,...,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2016,93003,130413,246588,0.377159,0.52887,37410,-0.151711,AK,...,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020,93003,130413,246588,0.377159,0.52887,37410,-0.151711,AK,...,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2050,93003,130413,246588,0.377159,0.52887,37410,-0.151711,AK,...,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2060,93003,130413,246588,0.377159,0.52887,37410,-0.151711,AK,...,2060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
new_election_data_df = election_df[['votes_dem_2016', 'votes_gop_2016', 'total_votes_2016','state_abbr']].copy()
new_election_data_df.head()

   votes_dem_2016  votes_gop_2016  total_votes_2016 state_abbr
0           93003          130413            246588         AK
1           93003          130413            246588         AK
2           93003          130413            246588         AK
3           93003          130413            246588         AK
4           93003          130413            246588         AK

### First Glance Summary
It appears that while we have over a million records, which is nice, there's some question as to the validity of the data, and how it was sourced. Firstly, we only have 8 total candidates only one of which ran on the Democratic ticket. Additionally, the 7 remaining Republican candidates do not reflect the entire field as it ran. It may be enough for estimation purposes, but the results of any analysis done with incomplete data such as this may be suspect.

Further, it appears that donors may have had to voluntarily self-identify their State without any reconciliation done on the part of the campaigns. These records indicate a total of 85 different state entries were collected, which is more than the combined list of all US States and Territories.

---


# CSV-to-DB

Running the code below requires a local postgres installation and and active database (in this case one named 'election16'. It will create a 'donations' table and write the DataFrame to the DB. Be prepared to wait as it will take time to write the DataFrame to SQL.

In [7]:
Base = declarative_base()
engine = create_engine(f'postgresql://postgres:{db_pw}@localhost:5432/election16')

/anaconda3/envs/PythonData/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [8]:
class Results(Base):
    __tablename__ = 'results_2016'
    id = Column(Integer, primary_key=True)
    votes_dem_2016 = Column(Integer)
    votes_gop_2016 = Column(Integer)
    total_votes_2016 = Column(Integer)
    state_abbr = Column(String(255))
    
class Donations(Base):
    __tablename__ = 'donations_2016'
    id = Column(Integer, primary_key=True)
    cand_nm = Column(String(255))
    contbr_st = Column(String(255))
    contbr_amt = Column(Float)
    contbr_dt = Column(String(255))

In [9]:
session = Session(bind=engine)
Base.metadata.create_all(engine)
session.rollback()

In [10]:
donor_label = ['cand_nm','contbr_st','contbr_amt','contbr_dt']
donor_df.to_sql('donations_2016', engine, if_exists='replace', index=False, index_label=donor_label)
results_label = ['votes_dem_2016','votes_gop_2016','total_votes_2016','state_abbr']
new_election_data_df.to_sql('results_2016', engine, if_exists='replace', index=False, index_label=results_label)